body {
     background-color:#f6dcf9;
}

h1 {
    text-align: center;
    font-family: "Rubik Bubbles", system-ui;  font-weight: 400;
    font-style: normal;
    white-space: pre;
    font-size: 30px;
  }

h2 {
    text-align: center;
    font-family: "Rubik Bubbles", system-ui;  font-weight: 400;
    font-style: normal;
    font-size: 30px;
    white-space: pre;
  }

p, figcaption, ul {
  font-family: "Lato", sans-serif;
  text-indent: 20px;
    font-size: 23px;
  }


ul {
   list-style-type: circle;

 }

.img, figcaption {
    text-align: center;
}

.imgg {
  text-align:left;
}

a {
  font-size: 35px;
  color:#eb15bd
}

.first-text {
  background:rgb(213, 218, 199);
  margin: 40px;
  border: 10px solid rgb(182, 164, 237);
  padding: 30px;
  border-radius: 5px;
 box-shadow: -1px 12px 43px 7px rgba(247,52,198,0.75);

}

.links{
  height: auto;
  width: 250px;
  margin: 20px;
  border: 10px solid rgb(182, 164, 237);
  padding: 40px;
  border-radius: 5px;
  box-shadow: -1px 12px 43px 7px rgba(247,52,198,0.75);

}